* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container-coffee-machine {
  max-width: 800px;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
button:disabled {
  background: silver;
  color: grey;
  pointer-events: none;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.current-homework {
  padding: 0.4rem 2rem;
  border: 1px solid #8c8cd8;
  border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}
.current-homework:hover {
  background: #8c8cd8;
  color: white;
}
.current-homework_back {
  border: 1px solid #6ca56c;
  color: #6ca56c;
}
.current-homework_back:hover {
  background: #6ca56c;
}

.coffee-machine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 1px solid;
  border-radius: 1rem;
  min-height: 600px;
}
.coffee-machine__title {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid silver;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 0.1rem 0 0 0;
  border-radius: 0.5rem;
  min-width: 215px;
  text-align: center;
}
.coffee-machine__switch-btn {
  width: 50%;
  height: 100%;
  color: white;
}
.coffee-machine__switch-btn_on {
  background: #1e961e;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.coffee-machine__switch-btn_off {
  background: #d92626;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.coffee-machine__do-coffee {
  position: absolute;
  top: 78%;
  left: 10%;
  bottom: initial;
  right: initial;
  width: 150px;
  height: 2rem;
  background: green;
  border-radius: 0.4rem;
  color: white;
}
.coffee-machine:not(:last-child) {
  margin-bottom: 2rem;
}

.power-status {
  position: absolute;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial;
}
.power-status::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 2rem;
  content: "Status:" attr(data-power);
  border: 1px solid silver;
  border-radius: 2rem;
}

.information-screen {
  position: absolute;
  top: 30%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  color: green;
  background: black;
  border: 6px solid grey;
  border-radius: 1.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 6rem;
}
.information-screen::before {
  content: attr(data-coffee);
}
.information-screen::after {
  content: attr(data-sugar);
}
.information-screen_invisible::before, .information-screen_invisible::after {
  display: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 2rem;
  position: absolute;
  top: 6%;
  left: 0;
  bottom: initial;
  right: initial;
}

.water-control {
  position: absolute;
  top: 75%;
  left: 80%;
  bottom: initial;
  right: initial;
  width: 250px;
  height: 30px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.water-control__restore-btn {
  position: absolute;
  top: -80px;
  left: 0;
  bottom: initial;
  right: initial;
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
  border: 1px solid silver;
  background: #6767e7;
  color: white;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.sugar-control {
  position: absolute;
  top: 55%;
  left: 50%;
  bottom: initial;
  right: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 7rem;
  border: 1px solid;
}
.sugar-control__title {
  font-size: 2rem;
}
.sugar-control__btn {
  background: whitesmoke;
  color: grey;
}
.sugar-control__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0.5rem;
  width: 50px;
}
.sugar-control__btn, .sugar-control__total {
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.sugar-buttons {
  margin-top: 1rem;
}

.coffee-selection {
  position: absolute;
  top: 45%;
  left: 0;
  bottom: initial;
  right: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  border: 3px solid silver;
  border-radius: 1.5rem;
  width: 300px;
  min-height: 150px;
}
.coffee-selection__element {
  width: 33.3333333333%;
}
.coffee-selection__element label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  height: 4.5rem;
  border: 1px solid silver;
}

.dispensing-window {
  position: absolute;
  top: 70%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 180px;
  background: grey;
  border: 5px solid silver;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.dispensing-window::before {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 10px;
  height: 30px;
  background: silver;
}

.cup {
  position: absolute;
  top: 44.5%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid grey;
  width: 70px;
  height: 100px;
  background: white;
}
.cup__title {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: initial;
  right: initial;
  font-size: 0.6rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cup__sugar-amount {
  width: 100%;
  position: absolute;
  top: 65%;
  left: 70%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
.cup::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  bottom: initial;
  right: initial;
  width: 69.5px;
  height: 20px;
  background: rgb(179, 127, 127);
  border-radius: 50%;
}/*# sourceMappingURL=new.css.map */