body {
    background-image: url(../img/img1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    display: none;
}

input {
    font-size: 1.5rem;
    height: 3rem;
    border-radius: .5rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    max-width: 670px;
    background: orangered;
    color: white;
    /*animation: up-down 2s linear infinite alternate;*/
    border-radius: 25px;
    margin-top: 0;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

i {
    font-size: 5rem;
}

form {
    margin: 0 auto;
    margin-top: 1rem;
}

label {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

label span {
    font-size: 1.5rem;
    color: rgb(93, 71, 71);
}

label:last-child {
    margin-top: 2rem;
}


.opponents {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.opponents span, .tie {
    font-size: 3rem;
    font-weight: bold;
}

.opponents h3 {
    font-size: 2.5rem;
    height: 3rem;
    background-color: white;
    border: 3px solid;
    border-radius: .3rem;
    text-align: center;
}

.a, .scoreFirst {
    color: #3b3bf3;
}

.b, .scoreSecond {
    color: #d42d2d;
}

.scoreSecond {
    direction: rtl;
    text-align: start;
    margin-left: 3rem;
}

.a, .b {
    width: 350px;
    overflow: hidden;
}

.scoreFirst, .scoreSecond {
    width: 300px;
    display: flex;
    border: 3px solid;
    border-radius: .3rem;
    background: white;
    height: 3.5rem;
}


.buttons {
    margin-top: 2rem;
}

.buttons button:not(:last-child) {
    margin-right: 1rem;
}

.buttons_first button {
    border: 2px solid #3b3bf3;
    border-radius: .2rem;
}

.buttons_second {
    text-align: end;
}
.buttons_second button {
    border: 2px solid #d42d2d;
    border-radius: .2rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex button {
    width: 300px;
    border-radius: .4rem;
    height: 3rem;
}

.flex:last-child button {
    width: 350px;
}

.start {
    width: 200px;
    height: 4rem;
}

.tie  {
    color: grey;
    width: 400px;
    border: 3px solid;
    background: white;
    border-radius: .3rem;
    height: 3.5rem;
}

@keyframes up-down {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width:950px) {
    body {
        min-width: 950px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
    }
}