@mixin flex ($jc:center, $ai:center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin absolutePosition ($t:initial, $l:initial, $b:initial, $r:initial) {
    position: absolute;
    top: $t;
    left: $l;
    bottom: $b;
    right: $r;
}