:root [data-theme=light] {
  --textColor: black;
  --backgroundColor: white;
  --bodyBackground: silver;
  --btnsBackground: #dfd8d8;
}

:root [data-theme=dark] {
  --textColor: orangered;
  --backgroundColor: #383535;
  --bodyBackground: black;
  --btnsBackground: #575757;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 1rem;
  height: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: var(--bodyBackground);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5rem 0 2rem 0;
}

input {
  outline: none;
  border: none;
  background: none;
}

button:disabled {
  background: silver;
  color: grey;
  pointer-events: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.skeleton {
  max-width: 800px;
  margin: 0 auto;
}

.container_menu {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial;
  background-image: url("../../images/background.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.label {
  position: absolute;
  top: 40%;
  left: 50%;
  bottom: initial;
  right: initial;
  width: 80%;
  height: 2rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.3rem;
}
.label_error {
  border: 3px solid #db6161;
}
.label_error::before {
  position: absolute;
  top: -25px;
  left: initial;
  bottom: initial;
  right: 0;
  content: attr(data-error);
  color: #db6161;
  font-weight: bold;
}

.label input {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  background: white;
  border: 1px solid silver;
}

.label-edit {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial;
  z-index: 10;
  cursor: pointer;
}
.label-edit__checkbox {
  width: 20px;
  height: 20px;
}

.label-box {
  position: absolute;
  top: -80px;
  left: 75%;
  bottom: initial;
  right: initial;
}

.fetch-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.fetch-label__input {
  margin-right: 0.5rem;
  width: 250px;
  padding-left: 0.5rem;
}
.fetch-label__question {
  position: absolute;
  top: -30px;
  left: 0;
  bottom: initial;
  right: initial;
  position: absolute;
  width: 250px;
}
.fetch-label_warning input {
  border: 2px solid orangered;
}

.fetch-label__input,
select {
  border: 2px solid silver;
  border-radius: 0.6rem 0.6rem 0 0;
  font-size: 1.2rem;
  height: 2rem;
}

.btn-mode {
  position: absolute;
  top: 15px;
  left: initial;
  bottom: initial;
  right: 25px;
  font-size: 2rem;
  border: none;
  background: none;
  color: var(--textColor);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.close-btn {
  position: absolute;
  top: 0;
  left: initial;
  bottom: initial;
  right: 0;
  width: 60px;
  height: 1.5rem;
  background: #db6161;
  color: white;
  border: 1px solid silver;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttons {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: initial;
  right: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}
.buttons button {
  width: 100px;
  height: 2.5rem;
  border: 1px solid silver;
}

.fetch-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.fetch-buttons__current-btn {
  padding: 0.5rem;
  width: 120px;
  border: 1px solid #2d2d68;
  background: #8b8be0;
  color: white;
}
.fetch-buttons__current-btn_dog-api {
  border: 1px solid #91165a;
  background: #c5488d;
}
.fetch-buttons__current-btn_newEl {
  border: 1px solid #d27020;
  background: orange;
}
.fetch-buttons__current-btn:not(:last-child) {
  margin-right: 4rem;
}
.fetch-buttons_flex-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fetch-buttons_edit {
  margin-bottom: 2.5rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: var(--backgroundColor);
  height: 600px;
  border: 1px solid;
  border-radius: 3rem;
}
.container__title {
  position: absolute;
  top: 30px;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: var(--textColor);
}
.container__select-btn {
  width: 170px;
  height: 38px;
  border: 1px solid silver;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--textColor);
  font-weight: bold;
  background: var(--btnsBackground);
}
.container__select-btn:hover {
  color: white;
}
.container__select-btn_alert:hover {
  background: #8a8ae5;
}
.container__select-btn_prompt:hover {
  background: #8ab38a;
}
.container__select-btn_confirm:hover {
  background: #b063b0;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: relative;
  border: 1px solid silver;
  border-radius: 0.8rem;
  width: calc((100% - 3rem) / 2);
  cursor: pointer;
}
.post__title {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  width: 32.5px;
  height: 32.5px;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid silver;
}
.post__edit-btn {
  position: absolute;
  top: initial;
  left: 90%;
  bottom: initial;
  right: initial;
  height: 68px;
  width: 40px;
  border-radius: 0 0.8rem 0.8rem 0;
  border: 1px solid silver;
  z-index: 15;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.post__edit-btn:hover {
  background: black;
  color: white;
}
.post_checked *:not(label, input, button, i) {
  opacity: 0.4;
}

.profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-box ul {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  width: 100%;
  height: 450px;
  overflow-y: auto;
  border-radius: 0 0.5rem 0.5rem 0;
}
.profile-box ul li {
  font-size: 1.2rem;
}
.profile-box ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.profile-picture-box {
  width: 50%;
  height: 450px;
}
.profile-picture-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.related-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  overflow-x: scroll;
}
.related-content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  gap: 1rem;
  margin-top: 1.5rem;
}

.profile-content-box {
  position: relative;
  width: 110px;
  height: 110px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profile-content-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.profile-content-box::before {
  position: absolute;
  top: 105%;
  left: 0;
  bottom: initial;
  right: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  content: attr(data-title);
  width: 100%;
  text-align: center;
}
.profile-content-box:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.gif {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: initial;
  right: initial;
  width: 250px;
  height: 250px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preload {
  width: 100vw;
  height: 100vh;
  background: var(--backgroundColor);
  position: absolute;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial;
  z-index: 100;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.preload::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f013";
  font-size: 30rem;
  position: absolute;
  top: 25%;
  left: 35%;
  bottom: initial;
  right: initial;
  color: var(--textColor);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotation linear 20s infinite;
          animation: rotation linear 20s infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.options select {
  width: 225px;
  outline: none;
}

.options-select_invisible {
  display: none;
}

.breed-selection,
.admin-label,
.label-box {
  margin-top: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.5rem;
  border: 1px solid silver;
  border-radius: 0.6rem;
}
.breed-selection__checkbox,
.admin-label__checkbox,
.label-box__checkbox {
  margin-left: 0.5rem;
}

.label-box {
  margin-top: 0;
}

.layout {
  position: fixed;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.my-window {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border: 1px solid silver;
  z-index: 10;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.image-block {
  height: 150px;
  cursor: pointer;
}
.image-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  border: 4px solid silver;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.image-block_big {
  height: 100%;
  padding: 1.5rem;
  cursor: default;
}
.image-block_big img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.current-homework {
  padding: 0.4rem 2rem;
  border: 1px solid #8c8cd8;
  border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}
.current-homework:hover {
  background: #8c8cd8;
  color: white;
}
.current-homework:not(:last-child) {
  margin-right: 0.6rem;
}
.current-homework_back {
  border: 1px solid #6ca56c;
  color: #6ca56c;
}
.current-homework_back:hover {
  background: #6ca56c;
}
.current-homework_dog-api {
  border: 1px solid #550855;
  color: #550855;
}
.current-homework_dog-api:hover {
  background: #550855;
}
.current-homework_rest-api {
  border: 1px solid orangered;
  color: orangered;
}
.current-homework_rest-api:hover {
  background: orangered;
}

.comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid silver;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 75%;
}
.comment-block__user-name {
  margin-right: 0.5rem;
  font-weight: bold;
}
.comment-block__user-text {
  padding: 0.5rem;
  max-height: 10rem;
  overflow-y: auto;
}
.comment-block:nth-child(odd) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #e9e3e3;
}
.comment-block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content-box {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  background: white;
  height: 500px;
  padding: 1rem;
}
.content-box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1rem 0 1rem;
  height: 100%;
}
.content-box-form__textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem 1rem 0.5rem;
  font-size: 1.2rem;
}
.content-box-form__textarea:not(:last-child) {
  margin-bottom: 1rem;
}
.content-box-form__textarea_body {
  height: 15rem;
}
.content-box-form__btn {
  outline: none;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid silver;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content-box-form__btn:hover {
  color: white;
}
.content-box-form__btn_delete {
  position: absolute;
  top: -75px;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
}
.content-box-form__btn_delete:hover {
  background: red;
}
.content-box-form__btn_edit:hover {
  background: #5b5bb7;
}
.content-box-form__btn_create:hover {
  background: #6da46d;
}
.content-box__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  text-decoration: underline;
  margin: 0.7rem 0 2rem 0;
}
.content-box__body {
  width: 100%;
  height: 80%;
  white-space: wrap;
  overflow: auto;
  padding: 0.8rem;
  border: 1px solid silver;
  border-radius: 0.6rem;
}
.content-box__close-btn {
  position: absolute;
  top: 0;
  left: initial;
  bottom: initial;
  right: 0;
  color: white;
  background: red;
  border: none;
  padding: 0.3rem 1rem;
  font-weight: bold;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}
.bread-crumbs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.bread-crumbs div a {
  font-size: 1.2rem;
  position: relative;
  color: white;
  font-weight: bold;
}
.bread-crumbs div a:hover::before {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bread-crumbs div a::before {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: initial;
  right: initial;
  content: "";
  width: 0;
  height: 2px;
  background: cornflowerblue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bread-crumbs div:not(:last-child)::after {
  margin: 0 1rem;
  pointer-events: none;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f715";
  color: white;
}
.bread-crumbs div:last-child {
  pointer-events: none;
}
.bread-crumbs div:last-child a {
  color: silver;
}

.pagination button {
  width: 25px;
  height: 25px;
}
.pagination button:disabled {
  background: cornflowerblue;
  color: white;
}

.topic {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.topic:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.topic:hover::before {
  opacity: 1;
}
.topic::before {
  position: absolute;
  top: 70%;
  left: 50%;
  bottom: initial;
  right: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: attr(data-title);
  width: 100%;
  height: 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
}
.topic-picture-box {
  height: 250px;
}
.topic-picture-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.picture-box {
  height: 300px;
  position: relative;
}
.picture-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.picture-box::before {
  position: absolute;
  top: 85%;
  left: 50%;
  bottom: initial;
  right: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: attr(data-title);
  background: white;
  width: 100%;
  height: 3rem;
  font-weight: bold;
  border-top: 1px solid;
}

.main-part {
  position: relative;
  margin-top: 3rem;
}
.main-part_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.main-part_pictures {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
.main-part_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-part_star-wars {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.main-part_content-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options,
.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options {
  width: 100%;
}

.user-info {
  margin-bottom: 1rem;
}

.window__alert-title,
.window__confirm-title {
  position: absolute;
  top: 30%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.my-window_prompt {
  background: #8ab38a;
  color: white;
  width: 450px;
  height: 200px;
}
.my-window_alert {
  background: #8a8ae5;
  color: silver;
  width: 320px;
  height: 160px;
}
.my-window_confirm {
  background: #b063b0;
  color: #b19b9b;
  width: 600px;
  height: 300px;
}

.window__confirm-title {
  font-size: 2.5rem;
}

.text-alert {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: initial;
  right: initial;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  height: 100vh;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: initial;
  right: initial;
  padding: 2rem 0 0 0;
}
.menu-element {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-element__link {
  color: white;
}
.menu-element:not(:last-child) {
  margin-bottom: 2rem;
}
.menu-element:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */