.main-part {
    position: relative;

    margin-top: 3rem;

    &_posts {
        @include flex(space-between, flex-start);
        flex-wrap: wrap;
        gap: 1rem;
    }

    &_pictures {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
    }

    &_comments {
        @include flex(center, flex-end);
        flex-direction: column;
    }

    &_star-wars {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;

        min-height: 516px;
    }

    &_content-profile {
        display: flex;
        flex-direction: column;
    }

    &_canvas {
        @include flex;

        flex-direction: column;

        max-width: 800px;
        margin: 0 auto;

        & label {
            @include flex(center, flex-start);
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            & > span {


                &::after {
                    content: attr(data-value);
                }
            }
        }
    }
}

.options,
.user-info {
    @include flex(flex-start);
}

.options {
    width: 100%;
}

.user-info {
    margin-bottom: 1rem;
}